  <div class="container" style="padding-top:40px;">
  <h1>Feed</h1>
    <div class = "row">
      <div class = "col-md-4">
        <div class = "card card-block">
          <h4 class = "card-title"> Your Account </h4>
          <p class = "card-text"> <%= link_to current_user.username, user_path(current_user.username) %>  </p>
        </div>
      </div>

      <div class = "col-md-8">
            <% @forum_threads.each do |forum_thread| %>
              <div class="card" >
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-block">
                  <h4 class="card-title"><%= forum_thread.title %></h4>
                  <p class="card-text"><%= forum_thread.body %> </p>
                  <%= link_to 'Collaborate', forum_thread, class: "btn btn-secondary"%>
                   <% if forum_thread.user == current_user %>
                    <small class="text-muted">
                      <%= link_to 'Edit', edit_forum_thread_path(forum_thread) %>
                      <%= link_to 'Destroy', forum_thread, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </small>
                    <% end %>
                </div>
              </div>
            <% end %>
      </div>
    </div>
</div>