<% if user_signed_in? %>
    <div class="jumbotron jumbotron-fluid">
    <!-- <div class="jumbotron jumbotron-home"> -->
        <div class="container">
            <div class="row">
                <div class="col-8">
                 <h1>Welcome back <br>
                    <small>Work better with your team. </small></h1>
                    <hr class="my-4">
                    <p>
                        Stay on the same page as your team. <br>
                        Cut out the noise. <br>
                        Focus on goals.
                        </p>
                    <br>
                    <%= link_to "Get Started", "#", class: "btn btn-primary btn-lg" %>
                </div>
                <div class="col-4">
                    <%= image_tag("jumbo_screen.png", size: "312x250") %>
                </div>
            </div>        
        </div>
    </div>      
<% else %>
    <div class="jumbotron jumbotron-fluid">
    <!-- <div class="jumbotron jumbotron-home"> -->
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Collabor8<br>
                        <small>Work better with your team. </small>
                    </h1>
                    <hr class="my-4">
                    <p>
                        Stay on the same page as your team. <br>
                        Cut out the noise. <br>
                        Focus on goals.
                    </p>
                    <br>
                       <%= link_to "Sign up", "signup", class: "btn btn-primary btn-lg" %>
                </div>
                <div class="col-4">
                <%= image_tag("jumbo_screen.png", size: "312x250") %>
                </div>
            </div> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Same Page</h2>
                <p>
                    Enable stakeholders from many parts of the team to collaborate together on projects would be otherwise difficult to share ideas.
                </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Focused</h2>
                <p> Gone are the days of multiple channels of communcations. Keep all your ideas in a single place and focus on getting things done and not hunting for information.
                </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Less Noise</h2>
                <p>Only pay attention to what you need to know. Subscribe to conversations or keywords to make sure you don't miss important conversations.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>