  <div class="container" style="padding-top:40px;">
  <h1>Threads</h1>
  <br>
      <% @forum_threads.each do |forum_thread| %>
        <div class="card" >
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-block">
            <h4 class="card-title"><%= forum_thread.title %></h4>
            <p class="card-text"><%= forum_thread.body %> </p>
            <%= link_to 'Show', forum_thread, class: "btn btn-secondary"%>
             <% if forum_thread.user == current_user %>
              <small class="text-muted">
                <%= link_to 'Edit', edit_forum_thread_path(forum_thread) %>
                <%= link_to 'Destroy', forum_thread, method: :delete, data: { confirm: 'Are you sure?' } %>
              </small>
              <% end %>
          </div>
        </div>
        <br>
      <% end %>


  <br>
    <% if user_signed_in? %>
      <%= link_to 'Start New Thread', new_forum_thread_path, class: "btn btn-primary"%>
  <% end %>
</div>