<div class="container" style="padding-top:40px;">
<p>
  <strong>User:</strong>
  <%= @forum_thread.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @forum_thread.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forum_thread.body %>
</p>


<%= @forum_thread.forum_posts %>
<!-- /posts/:post_id/comments/ -->
<%= link_to 'Posts', forum_thread_forum_posts_path(@forum_thread) %> |


	<% if @forum_thread.user == current_user %>
		<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %> |
	<% end %>


<%= link_to 'Back', forum_threads_path %>
</div>